h1 {
    text-align: center;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    max-height: 1080px;
    margin: auto;
}

.row {
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

.hovered {
    background-color: greenyellow;
}
